.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-field .email-input,
.input-field .password-input {
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
}